<br> 

<div id="app">
  
  <div>
    <button v-on:click="setSortAttribute('last_name')"> Sort by Last Name </button>
    <button v-on:click="setSortAttribute('specialty')"> Sort by Specialty </button>
  </div>

  <br> 

  <div>
    <input v-model="lastNameFilter" placeholder="Search Provider Name">
    <input v-model="specialtyFilter" placeholder="Search Specialty">
    <input v-model="cityFilter" placeholder="Search City">
    <input v-model="stateFilter" placeholder="Search State">
  </div>
    

  <br> 


  <div class="row">
    <div v-for="provider in modifiedProviders" v-if="filter(provider)" >
      <div class="col-sm-6">
        <div class="card" style="width: 20rem;">
          <i class="fa fa-user-md" style="font-size:64px;color:#428bca"></i>
          <h4> {{ provider.first_name }} {{ provider.last_name }}, {{ provider.credential }} </h4>
          <p class="profile-title"> {{ provider.specialty }} <br>
              {{ provider.address_1 }} {{ provider.address_2 }} <br>
              {{ provider.city }}, {{ provider.state }} {{ provider.zipcode }} <br>
              {{ provider.phone }}
          </p>
        </div>
        <br>
      </div>
    </div>
  </div>



