<br> 

<div id="app">

<!-- passing the api key for zipcodes api -->
<input v-model="key" value="<%=@key%>" type="hidden">

  <div class="provider_header_container">
    <div class="info"> 
      <h2> Self Pay Providers </h2>
      <h4> Use the options below to find a provider near you. </h4>
      <hr>
      <h5> A Self Pay provider is a provider who agrees to only charge a patient the self pay rate. <br> The self pay rate is Medicare's reimbursement rate plus an additional 15%. </h5>
      
    </div>
  </div>

  <br> 
      <div class="form-actions">
        <button class="btn btn-dark" type="submit">Submit form</button>
      </div>



    <button v-on:click="setSortAttribute('last_name')"> Sort by Last Name </button>
    <button v-on:click="setSortAttribute('specialty')"> Sort by Specialty </button>
    <input v-model="lastNameFilter" placeholder="Search Provider Name">
    <input v-model="specialtyFilter" placeholder="Search Specialty">
    
    Zipcode <input v-model="zipcodeFilter">
    <button v-on:click="setValidZipcode()">Search by Zipcode</button>

    <label> <input type="radio" v-model="radius" v-bind:value="15"> 15 Miles </label>
    <label> <input type="radio" v-model="radius" v-bind:value="25"> 25 Miles </label>
    <label> <input type="radio" v-model="radius" v-bind:value="50"> 50 Miles </label>  
    

  <div class="provider-show">
    <div class="row">
      <div v-for="provider in modifiedProviders" v-if="filter(provider)" >
        <div class="col-sm-6">
          <div class="card card-body mb-2" style="width: 20rem;">
            <i class="fa fa-user-md" style="font-size:64px;color:#8CA8AE;"></i>
            <h4> {{ provider.first_name }} {{ provider.last_name }}, {{ provider.credential }} </h4>
            <p class="profile-title"> {{ provider.specialty }} <br>
              {{ provider.address_1 }} {{ provider.address_2 }} <br>
              {{ provider.city }}, {{ provider.state }} {{ provider.zipcode }} <br>
              {{ provider.phone }}
            </p>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>

</div>



