<h2> Become a "Self Pay" Provider! </h2>

<br>

<p> Enter your zipcode and your most commonly billed CPT codes to see Self Pay's Rates. </p>

<%= form_tag "/providers", method: :post do %>

  <form class="form_container">
    <div class="row">
      <div class="col-sm-3 mb-3">
        <input type="text" class="form-control" name="zipcode" placeholder="Zip Code" >
      </div>
      Note: Self Pay Rates are Medicare's Non-Facility Rates + 15%
    </div>

    <div class="row">
      <%index = 1 %>
      <% 8.times do %>
        <div class="col-sm-3 mb-3">
          <input type="text" class="form-control" name="procedure_code<%=index%>" placeholder="CPT Code" >
          <% index += 1 %>
        </div>
      <%end%>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>

  </form>

<% end %>

 

  







