<style>
  .nav {
    display: none !important;
  }
</style>


  <div class="letter" >

    <br> 
    
    <div class="hr-theme-slash-2">
      <div class="hr-line"></div>
      <div class="hr-icon"><i class="fa fa-ambulance" ></i></div>
      <div class="hr-line"></div>
    </div>
    
    <br>

    <p> <%= Time.now.strftime("%m/%d/%Y") %> </p>

    <textarea rows="4" cols="30"> </textarea>

    <br>

    <p> RE: Medical Debt Discount Request </p>

    <p> To whom it may concern, </p>

    <p> This letter is a formal request for an itemized statement. I recently received a bill from your facility; however, I will require an itemized billing statement (including CPT codes) before submitting a payment.  
    </p>

    <p> Sincerely, </p>
    ​
    <input type="text" >


    <input id="hideForPrint" type="button" value="Print" onclick="window.print();" />

  </div>