// Place all the styles related to the Drugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#btnTweet {
 width: 159px;
 height: 38px;
 }

p{
  padding:50px 0px 0px 0px;
}

button{
  margin:50px 0px 0px 0px;
}

form {
  margin: 0; 
  padding: 0;
}

input, select {
  display: inline; 
}

#btnTweet {
 width: 159px;
 height: 38px;
 }

p{
  padding:50px 0px 0px 0px;
}

button{
  margin:50px 0px 0px 0px;
}