// Place all the styles related to the Letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media print {
  #hideForPrint  {
    display: none;
  }

  .topnav {
    display: none;
  }

  
  input,
  textarea, li {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    margin-left: 0;
  }
}


.letter {
  background: white;
  display: block;
  margin: 0 auto;
  padding: 15px; 
  margin: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  width: 21cm;
  height: 26.7cm; 
}

ul {
  list-style-type: none;
  padding: 0;
}

.hr-theme-slash-2 {
  display: flex;
  
  .hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid #000;
  }
  .hr-icon {
    position: relative;
    top: 3px;
  }
}
