// Place all the styles related to the Providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.provider_summary {
  list-style-type: square;
  list-style-position: inside;
}

.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.profile-show-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.profile-title {
    color: grey;
    font-size: 18px;
}


.profile-a:hover, a:hover {
    opacity: 0.7;
}