// Place all the styles related to the Providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.provider_summary li {
  margin-left: 30px; 
  list-style-type: circle;
}

.form_container {
  border-style: groove;
  padding: 5px; 
  margin-bottom: 15px;
}

.provider-show {
  background-color: #8CA8AE; 
  box-shadow: inset 0 0 0 10px #8CA8AE, inset 0 0 0 14px #fff;
  border-style: none;
  padding-top: 30px; 
  padding-left: 40px; 
  margin-top: 40px; 
  margin-bottom: 20px;
  border-top:15px solid #454545;
  text-align: center;
  box-shadow: 0 0 30px black;
  text-align: center;
}

.info{
  background-color: #8CA8AE; 
  padding: 30px; 
  // box-shadow: inset 0 0 0 10px #D5C7BC, inset 0 0 0 14px #fff;
}

.provider_header_container {
  border-style: none;
  padding: 10px; 
  background: white;
  margin: auto; 
  text-align: center;
  box-shadow: 0 0 30px black;
}

