// Place all the styles related to the Rates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// landing page 
.landing {
  background: url("https://images.unsplash.com/photo-1505924618867-ff42db34a861?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

.parallax-wrapper {
  position: relative;
}

.parallax-container {
  padding: 20px;
  width: 100vw;
  margin-left: calc(-50vw + 50% - 8px);
  position: absolute;
}

// trasparent full width bar
.title-section {
  background-color:rgba(0,0,1,0.8);
  padding: 20px;
  width: 100%;
  margin: 100px auto;
  margin-top: 270px; 
  text-align: center; 
  height: 280px; 
}


// Title text and name of site
.landing-h1 {
  color: #DCE6EF;
  font-weight: 100;
  font-size: 60px;
  margin: 0px;
}

// subheading
.landing-text {
  color: #8CA8AE; 
  font-weight: 100;
  font-size: 36px;
  margin: 0px; 
}

.landing-a {
  color: #DCE6EF !important;
}
  
.landing-a:hover {
  text-shadow: 0 0 5px #DCE6EF !important;
  font-size:1.0em;
  text-decoration: none;
}
// end of landing page 



/////////// rate request page 

// padding and color change for cpt form
.form-control{
  background-color: #efefef;
  margin-right: 10px; 
  margin-bottom: 10px; 
}

// the sub-heading with animation
.sub-heading {
  background-color: #8CA8AE; 
  padding: 30px; 
  box-shadow: inset 0 0 0 10px #8CA8AE, inset 0 0 0 14px #454545;
}

// header (includes sub-header)
.header_container {
  border-style: none;
  padding: 10px; 
  margin-bottom: 20px;
  background: white;
  border-top:15px solid #454545;
  margin: auto; 
  text-align: center;
  box-shadow: 0 0 30px black;
}

// form for cpt codes, amts, etc.
.rate_form_container {
  border-style: none;
  padding: 20px; 
  margin-top: 40px; 
  margin-bottom: 50px;
  background: white;
  display:inline-block;
  border-top:15px solid #454545;
  box-shadow: 0 0 30px black;
}

// edits to cpt form (change placeholder color)
.form-control::-webkit-input-placeholder {
  color: #454545;
}

// container for faq
.faq {
  border-style: none;
  margin-bottom: 10px;
  margin-top: 40px; 
  margin-left: 55px; 
  width: 450px; 
  background: white;
  border-top:15px solid #454545;
  padding: 20px 0 20px 0;
  box-shadow: 0 0 30px black;
}

// padding around faq
#accordion {
  padding: 10px 20px 20px 20px; 
}

// text within accordion 
.card-block {
  padding: 20px; 
}

// header for faq
.form-header {
  text-align: center; 
  margin: auto;
  padding-bottom: 10px; 
}

// background color for accordion headers
#headingOne, #headingTwo, #headingThree {
  background-color: #8CA8AE;
}

// accordion link styles
#accordion a {
  color: black;
  border-bottom: 1px solid #785964;
}

// accordion link styles on hover
.accordion a:hover {
  color: black;
  font-weight: bold;
}

// link at top
.letter-request {
  color: black;
  border-bottom: 1px solid #785964;
}

.letter-request:hover {
  color: black !important; 
  font-weight: bold;
}

//////////////// end of rates/new


// rate difference conditional for comparrison
td.difference{
  color: #005000;
  font-weight: bold; 
}





