// Place all the styles related to the Rates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// landing page 
.landing {
  background: url("https://images.unsplash.com/photo-1505924618867-ff42db34a861?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

.parallax-wrapper {
    position: relative;
}

.parallax-container {
    padding: 20px;
    width: 100vw;
    margin-left: calc(-50vw + 50% - 8px);
    position: absolute;
}

// trasparent full width bar
.title-section {
  background-color:rgba(0,0,1,0.8);
  padding: 20px;
  width: 100%;
  margin: 100px auto;
  text-align: center; 
  height: 280px; 
}


// Title text and name of site
.landing-h1 {
  color: #DCE6EF;
  font-weight: 100;
  font-size: 60px;
  margin: 0px;
}

// subheading
.landing-text {
  color: #DCE6EF; 
  font-weight: 100;
  font-size: 28px;
  margin: 0px; 
}


.landing-a {
  color: #DCE6EF !important;
}
  
.landing-a:hover {
    text-shadow: 0 0 5px #DCE6EF !important;
    font-size:1.0em;
    text-decoration: none;
}
// end of landing page 


// rate request page 
#accordion {
  padding-bottom: 10px; 
}

.rates-request {
  // background-color: 
}

.form_container {
  border-style: groove;
  padding: 20px; 
  margin-bottom: 15px;
}

.form-header {
  padding-left: 20px; 
}

.compare-rates-header{
  text-align: center; 
}


// end rate request page


// rate difference conditional for comparrison
td.difference{
  color: green; 
}



