// Place all the styles related to the Rates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#accordion {
  width: 400px;  
}

form.form_container{
  border-style: groove;
}

// rate difference conditional 
td.difference{
  color: green; 
}

.form_container {
  background-color: rgba(0,0,1,0.8);
}

.landing {
  background: url("https://images.unsplash.com/photo-1505924618867-ff42db34a861?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

.parallax-wrapper {
    position: relative;
}

.parallax-container {
    padding: 20px;
    width: 100vw;
    margin-left: calc(-50vw + 50% - 8px);
    position: relative;
}

// trasparent full width bar
.title-section {
  background-color:rgba(0,0,1,0.8);
  padding: 20px;
  width: 100%;
  margin: 100px auto;
  text-align: center; 
  height: 280px; 
}

// Title text and name of site
.landing-h1 {
  color: #DCE6EF;
  font-weight: 100;
  font-size: 60px;
  margin: 0px;
}

// subheading
.landing-text {
  color: #DCE6EF; 
  font-weight: 100;
  font-size: 28px;
  margin: 0px; 
}

.vl {
    border-left: 3px solid;
    height: 50px;
    color: #DCE6EF;
    position: absolute;
    left: 50%;
    margin-left: -3px;  
}

.landing-a {
  color: #DCE6EF !important;

}
  
.landing-a:hover {
    text-shadow: 0 0 5px #DCE6EF !important;
    font-size:1.0em;
    text-decoration: none;
}

.btn-2 {
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.button-position {
    position: relative;
}

.layout-button {
    position: absolute;
    top: 0px;
    right: 0px;
}

