// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// container for sign-in form
.provider_form_container {
  border-style: none;
  padding: 20px; 
  margin-bottom: 50px;
  margin-top: 20px; 
  background: white;
  display:inline-block;
  border-top:15px solid #454545;
  box-shadow: 0 0 30px black;
}

// link styles
.provider-link {
  color: black;
  border-bottom: 1px solid #785964;
}

// link styles on hover
.provider-link:hover {
  color: black;
  font-weight: bold;
}

.form-group label { 
  float:left; 
  display:inline;   
}