// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// container for new and edit user forms
.provider_form_container {
  border-style: none;
  padding: 20px; 
  margin-bottom: 50px;
  margin-top: 20px; 
  background: white;
  display:inline-block;
  border-top:15px solid #454545;
  box-shadow: 0 0 30px black;
  text-align: center; 
}

// extend specialty input box
.awesomplete .form-control {
  width: 489px;
}

// blue color for some views
.providers-new {
  background-color: #8CA8AE;
}


.form-group label { 
  float:left; 
  display:inline;   
}
