<body class="landing">
  
  <div class="parallax-wrapper" >
    <div class="parallax-container" >
      <div class="title-section">
        <h1 class="landing-h1">Self Pay Rate </h1>
        <br> 
        <p class="landing-text"> - An Online Resource for Self Pay Patients - </p>
        <br>
        <p class="landing-text"> &nbsp; <a src="/rates/new"> Patients </a> <span class="vl"></span> &nbsp; <a src="/rates/new"> Providers </a> </p>
      </div>
    </div>
  </div>

</body>

