<style>
  .nav {
    display: none !important;
  }
</style>

<body class="landing">
  
  <div class="parallax-wrapper" >
    <div class="parallax-container" >
      <div class="title-section">
        <h1 class="landing-h1">Self Pay Rate </h1>
        <br> 
        <p class="landing-text"> - An Online Resource for Self Pay Patients - </p>
        <br>
        <p class="landing-text"> <a class="landing-a" href="/rates/new">  Patients </a> // <a class="landing-a" href="/login">  Providers &nbsp;</a> </p>
      </div>
    </div>
  </div>

</body>



