
<a href="https://twitter.com/Dave_Conner" class="btn btn-2">Provider Login</a> 

<body class="landing">
  
  <div class="parallax-wrapper" >
    <div class="parallax-container" >
      <div class="title-section">
        <h1 class="landing-h1">Self-Pay Rate </h1>
        <br> 
        <p class="landing-text"> - An Online Resource for Self Pay Patients - </p>
        <br>
        <p class="landing-text"> <a class="landing-a" href="/rates/new"> &ensp; Patients </a> <span class="vl"></span>  <a class="landing-a" href="/rates/new"> &nbsp; Providers &nbsp;</a> </p>
      </div>
    </div>
  </div>


</body>

