<h2> Negotiate your Hospital Bills </h2>

<p> Complete the form to compare your hospital bill with Medicare reimbursement rates for your area and/or generate a negotiation letter to send to your hospital</p>

<br>

<%= form_tag "/rates", method: :post do %>

  <form class="form_container">
    <div class="row">
      <div class="col-sm-4 mb-4">
       <input type="text" class="form-control" name="zipcode" placeholder="Zip Code" >
      </div>

      <div class="col-sm-4 mb-4">
        <input type="text" class="form-control" name="dos" placeholder="Date of Service or Date Range" >
      </div>
    
      <div class="col-sm-4 mb-4">
        <input id="search_term" class="form-control" type="text" name="hospital" placeholder="Hospital" >
      </div>
    </div>

    <p> Note: If your bill does not include procedure codes (5 digit CPT codes) click <a href="/letters">here</a> to generate a letter requesting an itemized statement</p>
    <hr>

    <%index = 1 %>
    <% 8.times do %>
      <div class="row">
        <div class="col-sm-4 mb-4">
          <input type="text" class="form-control" name="amt_billed<%=index%>" placeholder="Amount Billed" >
        </div>
        <div class="col-sm-4 mb-4">
          <input type="text" class="form-control" name="procedure_code<%=index%>" placeholder="Procedure Code" >
          <% index += 1 %>
        </div>
      </div>
    <%end%>

    <button class="btn btn-primary" type="submit">Submit form</button>

  </form>

<% end %>

<script> 
  function activatePlacesSearch(){
    var input = document.getElementById('search_term');
    var options = {
      types: ['establishment'],
      componentRestrictions: {country: 'us'}
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_vTZoge6C138rv2TM2NEJgpuK6wu1VBg&libraries=places&callback=activatePlacesSearch"></script>
