<br> 

<div class="form_container">
  
  <h2 class="compare-rates-header"> Negotiate your Hospital Bills </h2>
  <hr>

  <p> Complete the form below to compare your hospital bill with Medicare's reimbursement rates / generate a negotiation letter to send to your hospital. </p>

  <p> <strong> Note: </strong> If your bill does not include procedure codes (5 digit CPT codes) click <a href="/letters">here</a> to generate a letter requesting an itemized statement.</p>
  
  <h5 class="compare-rates-header"> - FAQ - </h5>
<!-- FAQ -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> Why should I negotiate?  </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"> What is a CPT code? </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"> What if I have insurance? </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false"> Where is this data coming from? </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"> A hospital bill is not a bill - it's a starting offer. It is not uncommon for a hospital to charge a self pay patient the maximum amount. The only way to negotiate your price is to contact them directly (via letter, phone, etc.) Usually, private insurance pays Medicare's rate + 15% to 30%, but self pay patients can be charged much more than that. </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> A procedure code or CPT code is usually a 5 digit code, but can be alphanumeric. CPT codes are used in medical billing practices to identify what procedures were performed. Example: 99213 is an office visit for an established patient. Often, hospitals fail to provide procedure codes in their billing statements, so be sure to request an itemized statement so you know what you're paying for! </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"> Even if you have insurance, you can still negotiate your bill. If you have a high deductible plan or you went out-of-network, you can still contact the hospital to negotiate a lower rate. If the hospital mentions the contractual obligation they have with your insurance company, contact your insurance company - I'm sure they won't mind you taking longer to reach your $8000 deductible. </div>
    <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab"> The data was derived from Medicare's Physician Fee Schedule and is location based (your entered zipcode). The rates shown are facility rates meaning they're for a facility setting (hospitals/surgical centers). There are procedure codes missing from the fee schedule, so I encourage you to visit the following sites for further analysis: <a href="https://clearhealthcosts.com/"> Clear Health Costs </a> and <a href="https://www.fairhealthconsumer.org/"> Fair health Consumer </a> </div>
  </div>
<!-- End of FAQ -->
</div>
<br>

<%= form_tag "/rates", method: :post do %>
<form> 
  <div class="form_container">
    <div class="row">
      <h3 class="form-header"> Hospital Bill Compare Form </h3>
    </div>
    <div class="row">
      <div class="col-sm-4 mb-4">
       <input type="text" class="form-control" name="zipcode" placeholder="Zip Code" required>
      </div>

      <div class="col-sm-4 mb-4">
        <input type="text" class="form-control" name="dos" placeholder="Date of Service or Date Range" required >
      </div>
    
      <div class="col-sm-4 mb-4">
        <input id="search_term" class="form-control" type="text" name="hospital" placeholder="Hospital" required >
      </div>
    </div>

    <%index = 1 %>
    <% 8.times do %>
      <div class="row">
        <div class="col-sm-4 mb-4">
          <input type="text" class="form-control" name="amt_billed<%=index%>" placeholder="Amount Billed" >
        </div>
        <div class="col-sm-4 mb-4">
          <input type="text" class="form-control" name="procedure_code<%=index%>" placeholder="Procedure Code" >
          <% index += 1 %>
        </div>
      </div>
    <%end%>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
<% end %>



<!-- /////////////////////// -->
<script> 
  function activatePlacesSearch(){
    var input = document.getElementById('search_term');
    var options = {
      types: ['establishment'],
      componentRestrictions: {country: 'us'}
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key= + <%=ENV['PLACES_API_KEY']%> + &libraries=places&callback=activatePlacesSearch"></script>


