<body class="rates-request">

<br> 
<div class="header_container">
  <h1 class="compare-rates-header"> Negotiate your Hospital Bills </h1>
  <hr>
  <div class="sub-heading" >
    <h5>  Complete the form below to compare your hospital bill with Medicare's reimbursement rates & generate a negotiation letter to send to your hospital. </h5>
  </div>
</div>
<br> 

<% if false %>
  <p> <strong> Note: </strong> If your bill does not include procedure codes (5 digit CPT codes) click <a href="/letters">here</a> to generate a letter requesting an itemized statement.</p>
<% end %>


<div class="container">
  <div class="row">
    <div class="col">
      <%= form_tag "/rates", method: :post do %>
        <form> 
          <div class="rate_form_container">
            <div class="row">
              <h3 class="form-header"> Hospital Bill Compare Form </h3>
            </div>
            <div class="row">
              <div class="col-sm-6 mb-6">
                <input type="text" class="form-control" name="zipcode" placeholder="Zip Code" required>
              </div>
              <div class="col-sm-6 mb-6">
                <input type="text" class="form-control" name="dos" placeholder="Date of Service" required >
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 mb-12">
                <input id="search_term" class="form-control" type="text" name="hospital" placeholder="Hospital" required >
              </div>
            </div>

          <%index = 1 %>
          <% 8.times do %>
            <div class="row">
              <div class="col-sm-6 mb-6">
                <input type="text" class="form-control" name="amt_billed<%=index%>" placeholder="Amount Billed" >
              </div>
              <div class="col-sm-6 mb-6">
                <input type="text" class="form-control" name="procedure_code<%=index%>" placeholder="Procedure Code" >
                <% index += 1 %>
              </div>
            </div>
          <%end%>
          <div class="form-actions">
            <button class="btn btn-dark" type="submit">Submit form</button>
          </div>
        </div>
      </form>
      <% end %>
    </div>

    <div class="col">
      <div class="faq">
        <h3 class="form-header"> FAQ </h3>
        <div id="accordion" role="tablist" aria-multiselectable="true">
         <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               Why Negotiate? 
            </a>
            </h5>
          </div>
         <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
           <div class="card-block">
             A hospital bill is not a bill - it's a starting offer. It is not uncommon for a hospital to charge a self pay patient the maximum amount. The only way to negotiate your price is to contact them directly (via letter, phone, etc.) Usually, private insurance pays Medicare's rate + 15% to 30%, but self pay patients can be charged much more than that.
           </div>
         </div>
       </div>
       <div class="card">
         <div class="card-header" role="tab" id="headingTwo">
           <h5 class="mb-0">
             <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               What is a CPT code?
             </a>
           </h5>
         </div>
         <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
           <div class="card-block">
             A procedure code or CPT code is usually a 5 digit code, but can be alphanumeric. CPT codes are used in medical billing practices to identify what procedures were performed. Example: 99213 is an office visit for an established patient. Often, hospitals fail to provide procedure codes in their billing statements, so be sure to request an itemized statement so you know what you're paying for!
           </div>
         </div>
       </div>
       <div class="card">
         <div class="card-header" role="tab" id="headingThree">
           <h5 class="mb-0">
             <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               What if I have insurance?
             </a>
           </h5>
         </div>
         <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
           <div class="card-block">
             Even if you have insurance, you can still negotiate your bill. If you have a high deductible plan or you went out-of-network, you can still contact the hospital to negotiate a lower rate. If the hospital mentions the contractual obligation they have with your insurance company, contact your insurance company - I'm sure they won't mind you taking longer to reach your $8000 deductible.
           </div>
         </div>
       </div>
         <div class="card">
         <div class="card-header" role="tab" id="headingTwo">
           <h5 class="mb-0">
             <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
               Where is this data coming from? 
             </a>
           </h5>
         </div>
         <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
           <div class="card-block">
             The data was derived from Medicare's Physician Fee Schedule and is location based (your entered zipcode). The rates shown are facility rates meaning they're for a facility setting (hospitals/surgical centers). There are procedure codes missing from the fee schedule, so I encourage you to visit the following sites for further analysis: <a href="https://clearhealthcosts.com/"> Clear Health Costs </a> and <a href="https://www.fairhealthconsumer.org/"> Fair health Consumer </a>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
  
<br>
</body>

<!-- /////////////////////// -->
<script> 
  function activatePlacesSearch(){
    var input = document.getElementById('search_term');
    var options = {
      types: ['establishment'],
      componentRestrictions: {country: 'us'}
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key= + <%=ENV['PLACES_API_KEY']%> + &libraries=places&callback=activatePlacesSearch"></script>


